.phrase-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }
  
  .phrase-item {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 2rem; /* Adjust font size as needed */
    font-weight: bold;
    text-align: center;
    padding: 1rem;
  }
  
  .phrase-item i {
    margin-right: 0.5rem;
  }